version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: daily
      time: "00:00"
      timezone: UTC
    open-pull-requests-limit: 10
    commit-message:
      prefix: build
      include: scope
    ignore:
      - dependency-name: '@salesforce/dev-scripts'
      - dependency-name: 'oclif'
        versions:
          - '>=3.17.1'
      - dependency-name: 'clean-stack'
        versions:
          - '>=3.0.1'

    cooldown:
      default-days: 15