# Example .envrc file for local use

# export CONTENTFUL_ORGANIZATION_ID=<ORGANIZATION_ID>
# export CONTENTFUL_INTEGRATION_TEST_CMA_TOKEN=<CMA_TOKEN>
# export CONTENTFUL_SPACE_ID=<SPACE_ID>
# export DISABLE_ANALYTICS=true
