*-debug.log
*-error.log
*.log
/.nyc_output
/dist
/lib
/tmp
/yarn.lock
node_modules
oclif.manifest.json
.idea
changeset.json
changeset-*.json
.envrc
.env
.commands
.tool-versions
reports
build
.DS_Store
